<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Myntra">
<parameter name="browser" value="chrome"/>
<parameter name="HomeUrl" value="https://www.myntra.com/"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.testscripts.TC_HomeAndLiving_001"/>
      <class name="com.qa.testscripts.TestBase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
